@charset "UTF-8";

* {
    padding: 0%;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

body {
    background-color: rgb(18, 18, 66);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
   
}

div {
    
    background-color: rgba(0, 0, 0, 0.329);
    width: 90%;
    padding: 10px;
    border-radius:10px ;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.164);
}

 h1 {
    
    padding: 5px;
    text-align: center;
    background-color: midnightblue;
    color: aliceblue;
    border-radius: 10px ;
}

div input {
    text-align: center;
    margin: 15px;
    font-size: 1.4em;
    border-radius: 10px;
    border: none;
    background-color: midnightblue;
    color: white;
}

div input:focus-within {
    background-color: black;
    transition: .3s;
    border: 2px solid white;
    
}


div button {
    font-size: 1.1em;
    padding: 4px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;



}

div button:hover {
    background-color: black;
    color: midnightblue;
    transition: .3s;
    
}

div#Resultado {
    
    padding: 10px;
    margin: auto;
    color: white;
    line-height: 30px;
    
}