@charset "UTF-8";
* {
    margin: 0%;
    padding: 0%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
   
}

div {
    background-color: black;
    color: lightslategrey;
    font-size: 2em;
    text-align: center;
    padding: 10px;

    
}