@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(173, 194, 216);
}

header {
    text-align: center;
}

main {
display: block;
margin: auto;
background-color: rgba(255, 255, 255, 0.418);
width: 60%;
padding: 10px;
border-radius: 8px;
text-align: center;
   
}

div {
    background-color: black;
    color: white;
    border-radius: 8px;

}

div:hover {
    color: lightskyblue;
    cursor: pointer;
}
